<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center ion-text-uppercase">login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <figure class="ion-text-center">
    <ion-avatar class="center-avatar">
      <img src="../../assets/image/user.png" alt="logo" class="logo">
    </ion-avatar>
  </figure> 
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
    <ion-item>
      <ion-input label="Email" labelPlacement="floating" placeholder="Email" formControlName="email"></ion-input>
      <ion-input label="Password" labelPlacement="floating" type="Password" placeholder="Password" formControlName="password"></ion-input>
    </ion-item>
    <div class="validation-message">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div *ngIf="
        (loginForm.get('email')?.hasError(validation.type) && 
        loginForm.get('email')?.dirty)
        ">{{validation.message}}
      </div>
      </ng-container>
      <ng-container *ngFor="let validation of validation_messages.password">
        <div *ngIf="
        (loginForm.get('password')?.hasError(validation.type) && 
        loginForm.get('password')?.dirty)
        ">{{validation.message}}
      </div>
      </ng-container>
    </div>
    <ion-button 
    type="submit" 
    [disabled]="!loginForm.valid"
    color="success"
    shape="round"
    expand="full"
    ><b>Login</b></ion-button>
  </form>
  <div class="validation-message">
    {{loginMessage}}
  </div>

  <ion-button expand="full" color="secondary" (click)="goToRegister()">
   <b>Registrarse</b> 
  </ion-button>

</ion-content>