<swiper-container
 [loop]="true" 
 [pagination]="true">


  <swiper-slide *ngFor="let slide of slides; let i = index" >
      <ion-content class="ion-padding"> 
        <h1 class="red-title">{{slide.title}}</h1> 
        <p class={{slide.class}} [innerHTML]="slide.description">
          {{slide.description}}
        </p>
        <img src={{slide.image}}/>  
        <ion-button expand="full">
           Reserve ahora
        </ion-button><br>
        <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-button (click)="goToHome()" expand="default" *ngIf="i==0">
          <b>HOME</b>
       </ion-button>
      </ion-row>
      </ion-content>
  </swiper-slide>
</swiper-container>
