
<swiper-container
 [loop]="true" 
 [pagination]="true">

  <swiper-slide>
    <h1>Titulo</h1>
    <p>Contenido</p>
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.es%2Ffotos-premium%2Fimagen-fondo_63341601.htm&psig=AOvVaw2EOSUjE2urt-_dADr2Siwo&ust=1705626781554000&source=images&cd=vfe&ved=0CBMQjRxqFwoTCOig8YXh5YMDFQAAAAAdAAAAABAE.jpg"/>
    <ion-avatar class="avatar-slide">
      <img alt="Silhouette of a person'n head" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
    </ion-avatar>  
  </swiper-slide>
      <swiper-slide>Slide1</swiper-slide>
      <swiper-slide>Slide2</swiper-slide>
      <swiper-slide>Slide3</swiper-slide>
      <swiper-slide>Slide4</swiper-slide>
      <swiper-slide>Slide5</swiper-slide>
      <swiper-slide>Slide6</swiper-slide>
</swiper-container>

